<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="fr3">
  <xacro:macro name="fr3_arm_hand" params="prefix:='fr3' ">

    <end_effector name="hand_tcp" parent_link="${prefix}hand_tcp" group="${prefix}hand" parent_group="${prefix}manipulator"/>
    
  </xacro:macro>
</robot>